
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Без названия</title>
  <meta name="author" content="Сергей Максимов">

  
  <meta name="description" content="cabal sandbox to rescue! Инициализация Добавление локальной зависимости Удаление песочницы Манипуляция PATH Специфичное для директории окружение &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://blog.smaximov.info">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/atom.xml" rel="alternate" title="Без названия" type="application/atom+xml">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="./javascripts/lib/jquery.min.js"%3E%3C/script%3E'))</script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
-->

  

</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/">Без названия</a></h1>
  
    <h2>Блог о языках программирования, технологиях и прочих (не)интересных вещах</h2>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:blog.smaximov.info" />
    <input class="search" type="text" name="q" results="0" placeholder="Поиск..."/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/">Блог</a></li>
  <li><a href="/blog/archives">Архив</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div class="blog-index">
  
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2014/07/15/cabal-sandbox-and-direnv/">Cabal Sandbox и Direnv</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-07-15T17:26:00+11:00" pubdate data-updated="true">Jul 15<span>th</span>, 2014</time>
        
        

<span class="categories">
  
    <a class='category' href='/blog/categories/cabal/'>Cabal</a>, <a class='category' href='/blog/categories/zsh/'>Zsh</a>, <a class='category' href='/blog/categories/direnv/'>direnv</a>
  
</span>


      </p>
    
  </header>


  <div class="entry-content"><ul id="markdown-toc">
  <li><a href="#cabal-sandbox-to-rescue"><code>cabal sandbox</code> to rescue!</a>    <ul>
      <li><a href="#section">Инициализация</a></li>
      <li><a href="#section-1">Добавление локальной зависимости</a></li>
      <li><a href="#section-2">Удаление песочницы</a></li>
      <li><a href="#path">Манипуляция <code>PATH</code></a></li>
    </ul>
  </li>
  <li><a href="#section-3">Специфичное для директории окружение</a></li>
</ul>

<p>Cabal на текущий момент имеет очень серьёзный недостаток: он не
поддерживает одновременной установки различных версий одного и того же
пакета. В результате мы имеем ситуацию, когда обновление версии
какого-нибудь пакета может привести к тому, что сломаются пакеты,
зависящие от старой версии этого пакета.</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/blog/2014/07/15/cabal-sandbox-and-direnv/">Читать дальше &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2014/04/08/parsing-expressions-with-peg-dot-js/">Разбор выражений с помощью PEG</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-04-08T17:46:00+11:00" pubdate data-updated="true">Apr 8<span>th</span>, 2014</time>
        
        

<span class="categories">
  
    <a class='category' href='/blog/categories/javascript/'>Javascript</a>, <a class='category' href='/blog/categories/parsing/'>Parsing</a>, <a class='category' href='/blog/categories/peg/'>Peg</a>
  
</span>


      </p>
    
  </header>


  <div class="entry-content"><ul id="markdown-toc">
  <li><a href="#section">Синтаксический анализ</a>    <ul>
      <li><a href="#section-1">Формальная грамматика</a></li>
      <li><a href="#parsing-expression-grammars">Parsing Expression Grammars</a></li>
    </ul>
  </li>
  <li><a href="#pegjs">Генератор парсеров PEG.js</a></li>
  <li><a href="#section-2">Разбор языка логических выражений</a>    <ul>
      <li><a href="#section-3">Грамматика языка</a></li>
    </ul>
  </li>
  <li><a href="#section-4">Заключение</a></li>
  <li><a href="#section-5">Демонстрация</a></li>
  <li><a href="#section-6">Ссылки</a></li>
</ul>

<p>Давным давно<s>, в далёк</s> я
<a href="http://www.cyberforum.ru/post5772306.html">написал</a> код вычисления
логических выражений — просто так, задача интересной показалась.
Для этой цели был написан парсер, который преобразует строку с
логическим выражением в дерево, которое впоследствии вычисляется.
Теперь же захотелось подробно описать (для себя и для потомков), что
же при этом происходило.</p>

<p>В этом посте будет кратко затронуты понятия синтаксического анализа,
формальных грамматик, а также показан синтаксический разбор небольшого
языка с помощью PEG-парсера.</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/blog/2014/04/08/parsing-expressions-with-peg-dot-js/">Читать дальше &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2014/02/21/setting-up-discourse-on-ubuntu-server-12-dot-04/">Поднимаем Discourse на Ubuntu Server 12.04</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2014-02-21T21:04:00+11:00" pubdate data-updated="true">Feb 21<span>st</span>, 2014</time>
        
        

<span class="categories">
  
    <a class='category' href='/blog/categories/discourse/'>Discourse</a>, <a class='category' href='/blog/categories/rails/'>Rails</a>, <a class='category' href='/blog/categories/ruby/'>Ruby</a>, <a class='category' href='/blog/categories/ubuntu/'>Ubuntu</a>
  
</span>


      </p>
    
  </header>


  <div class="entry-content"><ul id="markdown-toc">
  <li><a href="#section">Введение</a></li>
  <li><a href="#section-1">Настройка сервера</a>    <ul>
      <li><a href="#section-2">Пререквизиты</a></li>
      <li><a href="#section-3">Создание нового пользователя</a></li>
      <li><a href="#ruby">Установка Ruby</a></li>
      <li><a href="#discourse">Получение исходников Discourse</a></li>
      <li><a href="#postgres--">Подготовка Postgres к использованию</a></li>
      <li><a href="#discourse-1">Конфигурация Discourse</a>        <ul>
          <li><a href="#discourseconf">discourse.conf</a></li>
        </ul>
      </li>
      <li><a href="#discourse-2">Инициализация Discourse</a></li>
      <li><a href="#nginx">Настройка nginx</a></li>
      <li><a href="#postfix">Настройка Postfix</a></li>
      <li><a href="#bluepill">Установка и настройка Bluepill</a></li>
    </ul>
  </li>
  <li><a href="#discourse-3">Обновление Discourse</a></li>
  <li><a href="#section-4">Заключение</a></li>
  <li><a href="#section-5">Ссылки</a></li>
  <li><a href="#update">Update</a></li>
</ul>

<h1 id="section">Введение</h1>

<p><a href="http://www.discourse.org">Discourse</a> — это молодой и активно
развивающийся opensource-форум<sup id="fnref:disc-platform"><a href="#fn:disc-platform" rel="footnote">1</a></sup>, одним из создателей которого является
широко известный в узких кругах программист и блоггер Jeff Atwood<sup id="fnref:atwood"><a href="#fn:atwood" rel="footnote">2</a></sup> a.k.a.
<a href="http://blog.codinghorror.com">codinghorror</a>.</p>

<p>Discourse отличается от традиционных форумов (прежде всего от phpBB,
vBulletin и их клонов) динамичностью, своим подходом к организации
обсуждений<sup id="fnref:organisation"><a href="#fn:organisation" rel="footnote">3</a></sup>, продвинутой системой уведомлений и
отслеживания сообщений, responsive-версткой и поддержной мобильных
браузеров. Ещё одно отличие от привычных форумов — ориентация на
community-модерацию, которая позволяет наиболее уважаемым и активным
участникам форума принимать участие в его управлении.</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/blog/2014/02/21/setting-up-discourse-on-ubuntu-server-12-dot-04/">Читать дальше &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2013/11/29/automatic-resource-management-in-scala/">Automatic Resource Management in Scala</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2013-11-29T14:09:00+11:00" pubdate data-updated="true">Nov 29<span>th</span>, 2013</time>
        
        

<span class="categories">
  
    <a class='category' href='/blog/categories/scala/'>Scala</a>
  
</span>


      </p>
    
  </header>


  <div class="entry-content"><ul id="markdown-toc">
  <li><a href="#section">Введение</a></li>
  <li><a href="#section-1">Решение</a>    <ul>
      <li><a href="#section-2">Первое приближение</a></li>
      <li><a href="#section-3">Обобщённый статический метод</a></li>
      <li><a href="#implicits">Implicits</a></li>
    </ul>
  </li>
</ul>

<h1 id="section">Введение</h1>

<p>Решал вчера задание NodeScala для курса реактивного программирования
на Scala<sup id="fnref:rx"><a href="#fn:rx" rel="footnote">1</a></sup>. Часть задания состояла в реализации <em>trait</em>
<code>Exchange</code>, содержащего методы <code>write</code> и <code>close</code>. Метод <code>write</code>
выполнял запись строки в ответ (<em>response</em>) сервера, а метод
<code>close</code> закрывал объект после использования. В инструкции к заданию
было обращено особое внимание на необходимость закрытия объекта:</p>

<blockquote>
  <p>The trait <code>Exchange</code> is used to write your response back to the user using the <code>write</code> method. Whenever you use it, don’t forget to close it by calling the <code>close</code> method.</p>
</blockquote>

<p>Как можно догадаться, в конце концов именно это я и забыл сделать. В
результате около часа было потрачено на поиск ошибки. Это навело меня
на мысль, что было бы неплохо воспользоваться богатыми возможностями
Scala для реализации автоматического управления ресурсами (готовые
решения меня по понятной причине не интересовали).</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/blog/2013/11/29/automatic-resource-management-in-scala/">Читать дальше &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2013/06/26/switching-markdown-processor-to-kramdown/">Kramdown в качестве процессора Markdown</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2013-06-26T18:57:00+11:00" pubdate data-updated="true">Jun 26<span>th</span>, 2013</time>
        
        

<span class="categories">
  
    <a class='category' href='/blog/categories/jekyll/'>Jekyll</a>, <a class='category' href='/blog/categories/kramdown/'>Kramdown</a>, <a class='category' href='/blog/categories/meta/'>Meta</a>, <a class='category' href='/blog/categories/octorpess/'>Octorpess</a>
  
</span>


      </p>
    
  </header>


  <div class="entry-content"><p>Перевёл обработку Markdown на <a href="http://kramdown.rubyforge.org/index.html">Kramdown</a>. Что это (пока)
дало: сноски и генерацию содержания. Стили для них взял (с небольшими
изменениями)
<a href="http://hiltmon.com/blog/2013/05/08/octopress-now-has-footnotes/">отсюда</a>
и
<a href="http://blog.riemann.cc/2013/04/10/table-of-contents-in-octopress/">отсюда</a>:</p>

<div class="bogus-wrapper"><notextile><figure class="code"><figcaption><span>sass/custom/_styles.scss</span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
<span class="line-number">2</span>
<span class="line-number">3</span>
<span class="line-number">4</span>
<span class="line-number">5</span>
<span class="line-number">6</span>
<span class="line-number">7</span>
<span class="line-number">8</span>
<span class="line-number">9</span>
<span class="line-number">10</span>
<span class="line-number">11</span>
<span class="line-number">12</span>
<span class="line-number">13</span>
<span class="line-number">14</span>
<span class="line-number">15</span>
<span class="line-number">16</span>
<span class="line-number">17</span>
<span class="line-number">18</span>
<span class="line-number">19</span>
<span class="line-number">20</span>
<span class="line-number">21</span>
<span class="line-number">22</span>
<span class="line-number">23</span>
<span class="line-number">24</span>
<span class="line-number">25</span>
<span class="line-number">26</span>
<span class="line-number">27</span>
<span class="line-number">28</span>
<span class="line-number">29</span>
<span class="line-number">30</span>
<span class="line-number">31</span>
<span class="line-number">32</span>
</pre></td><td class="code"><pre><code class="scss"><span class="line"><span class="nn">#markdown-toc</span><span class="nd">:before</span> <span class="p">{</span>
</span><span class="line">   <span class="na">content</span><span class="o">:</span> <span class="s2">&quot;Содержание&quot;</span><span class="p">;</span>
</span><span class="line">   <span class="na">font-weight</span><span class="o">:</span> <span class="no">bold</span><span class="p">;</span>
</span><span class="line"><span class="p">}</span>
</span><span class="line"><span class="nt">ul</span><span class="nn">#markdown-toc</span> <span class="p">{</span>
</span><span class="line">   <span class="na">list-style</span><span class="o">:</span> <span class="no">none</span><span class="p">;</span>
</span><span class="line">   <span class="na">float</span><span class="o">:</span> <span class="no">right</span><span class="p">;</span>
</span><span class="line">   <span class="k">@include</span><span class="nd"> shadow-box</span><span class="p">;</span>
</span><span class="line">   <span class="na">background-color</span><span class="o">:</span> <span class="nb">white</span><span class="p">;</span>
</span><span class="line"><span class="p">}</span>
</span><span class="line">
</span><span class="line"><span class="nc">.blog-index</span> <span class="p">{</span>
</span><span class="line">   <span class="nn">#markdown-toc</span><span class="o">,</span> <span class="nt">sup</span><span class="o">[</span><span class="nt">id</span><span class="o">^=</span><span class="nt">fnref</span><span class="o">],</span> <span class="nc">.footnotes</span> <span class="p">{</span>
</span><span class="line">      <span class="na">display</span><span class="o">:</span> <span class="no">none</span><span class="p">;</span>
</span><span class="line">   <span class="p">}</span>
</span><span class="line"><span class="p">}</span>
</span><span class="line">
</span><span class="line"><span class="nc">.footnotes</span> <span class="p">{</span>
</span><span class="line">   <span class="na">font-size</span><span class="o">:</span> <span class="mi">13</span><span class="kt">px</span><span class="p">;</span>
</span><span class="line">   <span class="na">line-height</span><span class="o">:</span> <span class="mi">16</span><span class="kt">px</span><span class="p">;</span>
</span><span class="line">   <span class="na">color</span><span class="o">:</span> <span class="mh">#666</span><span class="p">;</span>
</span><span class="line">   <span class="na">border-top</span><span class="o">:</span> <span class="mi">2</span><span class="kt">px</span> <span class="no">groove</span> <span class="nb">gray</span><span class="p">;</span>
</span><span class="line">   <span class="na">padding-top</span><span class="o">:</span> <span class="mi">1</span><span class="kt">em</span><span class="p">;</span>
</span><span class="line">
</span><span class="line">   <span class="nt">ol</span> <span class="p">{</span>
</span><span class="line">      <span class="na">padding-left</span><span class="o">:</span> <span class="mi">2</span><span class="kt">em</span><span class="p">;</span>
</span><span class="line">
</span><span class="line">      <span class="nt">p</span> <span class="p">{</span>
</span><span class="line">         <span class="na">margin-bottom</span><span class="o">:</span> <span class="mi">6</span><span class="kt">px</span><span class="p">;</span>
</span><span class="line">      <span class="p">}</span>
</span><span class="line">   <span class="p">}</span>
</span><span class="line"><span class="p">}</span>
</span></code></pre></td></tr></table></div></figure></notextile></div>

<p>Для вставки содержания в тело поста нужно добавить атрибут <code>toc</code> к
элементу списка, например:</p>

<div class="bogus-wrapper"><notextile><figure class="code"><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
<span class="line-number">2</span>
</pre></td><td class="code"><pre><code class="text"><span class="line">* TOC
</span><span class="line">{:toc}
</span></code></pre></td></tr></table></div></figure></notextile></div>

<p>Простановка сносок похоже на простановку ссылок-сносок:</p>

<div class="bogus-wrapper"><notextile><figure class="code"><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
<span class="line-number">2</span>
<span class="line-number">3</span>
<span class="line-number">4</span>
<span class="line-number">5</span>
</pre></td><td class="code"><pre><code class="text"><span class="line">This is a text[^fn] with footnotes.
</span><span class="line">
</span><span class="line">...
</span><span class="line">
</span><span class="line">[^fn]: footnote text.
</span></code></pre></td></tr></table></div></figure></notextile></div>

<p>В квадратных скобках с “птичкой” (caret) указывается идентификатор
сноски, который должен быть уникальным в пределах одного документа.
Идентификатор может состоять из цифр и букв. Текст сноски
задается где-нибудь в документе через двоеточие.</p>

<hr />

<p>Kramdown содержит кучю других расширений Markdown, их описание есть на
<a href="http://kramdown.rubyforge.org/syntax.html">сайте</a>.</p>

<p>Результат мне понравился (примечательно, что этот пост не содержит ни
содержания, ни сносок).</p>

</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2013/06/25/add-categories-to-post-title/">Добавление категорий к заголовку поста</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2013-06-25T22:14:00+11:00" pubdate data-updated="true">Jun 25<span>th</span>, 2013</time>
        
        

<span class="categories">
  
    <a class='category' href='/blog/categories/jekyll/'>Jekyll</a>, <a class='category' href='/blog/categories/meta/'>Meta</a>, <a class='category' href='/blog/categories/octopress/'>Octopress</a>
  
</span>


      </p>
    
  </header>


  <div class="entry-content"><p>Решил вот немного изменить внешний вид блога и заодно разобраться в
расположении и назначении стилевых файлов и шаблонов HTML в
Octorpess/Jekyll.</p>

<p>Изменения затрагивают подзаголовок поста, к которому я решил добавить
список категорий. Шаблон списка категорий располагается в файле
<code>source/_includes/post/categories.html</code>. Этот шаблон, соответственно,
следует включить в шаблон <code>source/_includes/article.html</code> с помощью
тега Liquid <code>include</code>:</p>

<div class="bogus-wrapper"><notextile><figure class="code"><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
<span class="line-number">2</span>
<span class="line-number">3</span>
<span class="line-number">4</span>
<span class="line-number">5</span>
<span class="line-number">6</span>
<span class="line-number">7</span>
<span class="line-number">8</span>
<span class="line-number">9</span>
</pre></td><td class="code"><pre><code class="html"><span class="line">  ...
</span><span class="line">  <span class="nt">&lt;p</span> <span class="na">class=</span><span class="s">&quot;meta&quot;</span><span class="nt">&gt;</span>
</span><span class="line">    {% include post/date.html %}{{ time }}
</span><span class="line">    {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
</span><span class="line">     | <span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread&quot;</span><span class="nt">&gt;</span>Comments<span class="nt">&lt;/a&gt;</span>
</span><span class="line">    {% endif %}
</span><span class="line">    {% include post/categories.html %}
</span><span class="line">  <span class="nt">&lt;/p&gt;</span>
</span><span class="line">  ...
</span></code></pre></td></tr></table></div></figure></notextile></div>

<p>И немного CSS в <code>sass/custom/_styles.scss</code>:</p>

<div class="bogus-wrapper"><notextile><figure class="code"><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
<span class="line-number">2</span>
<span class="line-number">3</span>
<span class="line-number">4</span>
<span class="line-number">5</span>
<span class="line-number">6</span>
<span class="line-number">7</span>
<span class="line-number">8</span>
<span class="line-number">9</span>
<span class="line-number">10</span>
<span class="line-number">11</span>
<span class="line-number">12</span>
<span class="line-number">13</span>
<span class="line-number">14</span>
<span class="line-number">15</span>
<span class="line-number">16</span>
<span class="line-number">17</span>
<span class="line-number">18</span>
<span class="line-number">19</span>
<span class="line-number">20</span>
</pre></td><td class="code"><pre><code class="scss"><span class="line"><span class="nt">article</span> <span class="o">&gt;</span> <span class="nt">header</span> <span class="nt">p</span><span class="nc">.meta</span> <span class="p">{</span>
</span><span class="line">    <span class="nt">span</span><span class="nc">.categories</span> <span class="p">{</span>
</span><span class="line">       <span class="na">text-transform</span><span class="o">:</span> <span class="no">none</span><span class="p">;</span>
</span><span class="line">       <span class="nt">a</span><span class="nc">.category</span> <span class="p">{</span>
</span><span class="line">          <span class="k">@extend</span> <span class="nc">.serif</span><span class="o">;</span>
</span><span class="line">          <span class="nt">font-size</span><span class="nd">:</span> <span class="nt">1em</span><span class="o">;</span>
</span><span class="line">          <span class="k">&amp;</span><span class="nd">:hover</span><span class="o">,</span> <span class="k">&amp;</span><span class="nd">:link</span><span class="o">,</span> <span class="k">&amp;</span><span class="nd">:visited</span><span class="o">,</span> <span class="k">&amp;</span><span class="nd">:active</span> <span class="p">{</span>
</span><span class="line">             <span class="na">text-decoration</span><span class="o">:</span> <span class="no">none</span><span class="p">;</span>
</span><span class="line">             <span class="na">color</span><span class="o">:</span> <span class="nv">$text-color-light</span><span class="p">;</span>
</span><span class="line">          <span class="p">}</span>
</span><span class="line">       <span class="p">}</span>
</span><span class="line">    <span class="p">}</span>
</span><span class="line">
</span><span class="line">   <span class="nc">.separator</span> <span class="p">{</span>
</span><span class="line">      <span class="na">color</span><span class="o">:</span> <span class="nf">darken</span><span class="p">(</span><span class="nv">$text-color-light</span><span class="o">,</span> <span class="mi">15</span><span class="p">);</span>
</span><span class="line">   <span class="p">}</span>
</span><span class="line">   <span class="nt">time</span> <span class="o">+</span> <span class="nn">#disqus_thread</span><span class="nd">:before</span><span class="o">,</span> <span class="nt">time</span> <span class="o">+</span> <span class="nc">.categories</span><span class="nd">:before</span><span class="o">,</span> <span class="nn">#disqus_thread</span> <span class="o">+</span> <span class="nc">.categories</span><span class="nd">:before</span> <span class="p">{</span>
</span><span class="line">      <span class="k">@extend</span> <span class="nc">.separator</span><span class="o">;</span>
</span><span class="line">   <span class="p">}</span>
</span><span class="line"><span class="p">}</span>
</span></code></pre></td></tr></table></div></figure></notextile></div>

<p>Вуаля!</p>
</div>
  
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2013/06/21/generating-pdf-in-rails-with-prawn/">Генерация PDF с помощью Prawn</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2013-06-21T18:17:00+11:00" pubdate data-updated="true">Jun 21<span>st</span>, 2013</time>
        
        

<span class="categories">
  
    <a class='category' href='/blog/categories/rails/'>Rails</a>, <a class='category' href='/blog/categories/ruby/'>Ruby</a>
  
</span>


      </p>
    
  </header>


  <div class="entry-content"><ul id="markdown-toc">
  <li><a href="#section">Введение</a></li>
  <li><a href="#section-1">Установка и настройка</a></li>
  <li><a href="#section-2">Использование</a></li>
  <li><a href="#section-3">Заключение</a></li>
</ul>

<h1 id="section">Введение</h1>

<p>Динамическое создание PDF — довольно распространенное задача.
Для Ruby существует несколько библиотек для генерации с PDF-файлов,
вот некоторые из них:</p>

<ul>
  <li>
    <p><a href="https://github.com/pdfkit/pdfkit">PDFkit</a> — библиотека для конвертации HTML в PDF. Использует
shell-утилиту <a href="http://code.google.com/p/wkhtmltopdf/">wkhtmltopdf</a>, которая, в свою очередь,
использует webkit в качестве движка рендеринга;</p>
  </li>
  <li>
    <p><a href="https://github.com/mileszs/wicked_pdf">Wicked pdf</a> — тоже конвертация HTML → PDF,
тоже <a href="http://code.google.com/p/wkhtmltopdf/">wkhtmltopdf</a>;</p>
  </li>
  <li>
    <p><a href="https://github.com/fnando/kitabu">Kitabu</a> — генерация PDF и e-Pub из Textile, Markdown
или HTML;</p>
  </li>
  <li>
    <p><a href="http://prawn.majesticseacreature.com/">Prawn</a> — библиотека для создания PDF-файлов,
написанная на чистом Ruby.</p>
  </li>
</ul>

<p>Таким образом, видны две тенденции: генерация PDF из какого-нибудь
языка разметки либо использование DSL для генерации.</p>

<p>Мой выбор пал на Prawn, о нем и будет рассказано в остальной части
поста.</p>

</div>
  
  
    <footer>
      <a rel="full-article" href="/blog/2013/06/21/generating-pdf-in-rails-with-prawn/">Читать дальше &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2013/06/19/unit-testing-in-racket-with-rackunit/">Юнит-тестирование в Racket: RackUnit</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2013-06-19T22:30:00+11:00" pubdate data-updated="true">Jun 19<span>th</span>, 2013</time>
        
        

<span class="categories">
  
    <a class='category' href='/blog/categories/rackunit/'>RackUnit</a>, <a class='category' href='/blog/categories/racket/'>Racket</a>, <a class='category' href='/blog/categories/unit-testing/'>Unit Testing</a>
  
</span>


      </p>
    
  </header>


  <div class="entry-content"><ul id="markdown-toc">
  <li><a href="#section">Введение</a></li>
  <li><a href="#racket">Юнит-тестирование в Racket</a>    <ul>
      <li><a href="#section-1">Простые проверки</a></li>
      <li><a href="#test-cases">Test Cases</a></li>
      <li><a href="#test-suites">Test Suites</a></li>
    </ul>
  </li>
  <li><a href="#section-2">Разное</a>    <ul>
      <li><a href="#section-3">Поток управления в тестах</a></li>
      <li><a href="#section-4">Пользовательский интерфейс</a></li>
    </ul>
  </li>
</ul>

<h1 id="section">Введение</h1>

<p><em>Юнит-тестирование</em> — это процесс проверки на корректность
отдельных единиц (модулей) исходного кода вместе со связанными
данными. Цель юнит-тестирования состоит в том, чтобы изолировать
отдельные части программы друг от друга и убедиться, что каждая
отдельная часть ведет себя корректно.</p>

<p>Подробнее о юнит-тестировании можно узнать <a href="http://en.wikipedia.org/wiki/Unit_testing" title="Wikipedia entry for Unit Testing">здесь</a>.</p>

<p>Disclaimer: по большей части этот пост представляет собой выборочный
перевод официальной документации.</p>

<h1 id="racket">Юнит-тестирование в Racket</h1>

<p>Racket поставляется с собственным фреймворком для юнит-тестирования
<a href="http://docs.racket-lang.org/rackunit/" title="RackUnit Documentation">RackUnit</a>. RackUnit позволяет использовать простые
проверки (<em>Checks</em>), группировать несколько связанных проверок в один
<em>Test Case</em>, который устанавливает линейную зависимость между
тестами: если какой-то тест провалится, то следующие тесты не будут
запущены. Checks и Test Cases выполняются сразу же, как только их
достигнет поток управления.</p>

<p>Существует еще один тип тестов — <em>Test Suite</em>. Test Suite’ы состоят из Test
Case’ов и других Test Suite’ов; их выполнение отложено до момента,
определенного программистом.</p>

<p>О философии, лежащей за этими концепциями, можно почитать
<a href="http://docs.racket-lang.org/rackunit/philosophy.html" title="RackUnit Philosophy">тут</a>.</p>

<p>Для написания тестов необходимо подключить модуль <code>rackunit</code>:</p>

<div class="bogus-wrapper"><notextile><figure class="code"><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
</pre></td><td class="code"><pre><code class="racket"><span class="line"><span class="p">(</span><span class="k">require </span><span class="nv">rackunit</span><span class="p">)</span>
</span></code></pre></td></tr></table></div></figure></notextile></div>

</div>
  
  
    <footer>
      <a rel="full-article" href="/blog/2013/06/19/unit-testing-in-racket-with-rackunit/">Читать дальше &rarr;</a>
    </footer>
  


    </article>
  
  
    <article>
      
  <header>
    
      <h1 class="entry-title"><a href="/blog/2013/06/19/at-the-very-beginning/">Начало</a></h1>
    
    
      <p class="meta">
        








  


<time datetime="2013-06-19T21:27:00+11:00" pubdate data-updated="true">Jun 19<span>th</span>, 2013</time>
        
        

<span class="categories">
  
    <a class='category' href='/blog/categories/misc/'>Misc</a>
  
</span>


      </p>
    
  </header>


  <div class="entry-content"><p>Первая запись в блоге.</p>

<div class="bogus-wrapper"><notextile><figure class="code"><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class="line-number">1</span>
</pre></td><td class="code"><pre><code class="cl"><span class="line"><span class="p">(</span><span class="nb">format</span> <span class="no">t</span> <span class="s">&quot;Hello, World!&quot;</span><span class="p">)</span>
</span></code></pre></td></tr></table></div></figure></notextile></div>
</div>
  
  


    </article>
  
  <div class="pagination">
    
    <a href="/blog/archives">Архив</a>
    
  </div>
</div>
<aside class="sidebar">
  
    <section>
  <h1>Недавнее</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/blog/2014/07/15/cabal-sandbox-and-direnv/">Cabal Sandbox и Direnv</a>
      </li>
    
      <li class="post">
        <a href="/blog/2014/04/08/parsing-expressions-with-peg-dot-js/">Разбор выражений с помощью PEG</a>
      </li>
    
      <li class="post">
        <a href="/blog/2014/02/21/setting-up-discourse-on-ubuntu-server-12-dot-04/">Поднимаем Discourse на Ubuntu Server 12.04</a>
      </li>
    
      <li class="post">
        <a href="/blog/2013/11/29/automatic-resource-management-in-scala/">Automatic Resource Management in Scala</a>
      </li>
    
      <li class="post">
        <a href="/blog/2013/06/26/switching-markdown-processor-to-kramdown/">Kramdown в качестве процессора Markdown</a>
      </li>
    
  </ul>
</section>





  
</aside>

    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2014 - Сергей Максимов -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span> -
  <span class="credit">Generated by <a href="http://jekyllrb.com/">Jeckyll</a></span> -
  <span class="credit">Hosted by <a href="https://github.com/">Github</a></span>
</p>

</footer>
  

<script type="text/javascript">
      var disqus_shortname = 'smaximov';
      
        
        var disqus_script = 'count.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>







  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>





</body>
</html>
