// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

article > header p.meta {
    span.categories {
       text-transform: none;
       a.category {
          @extend .serif;
          font-size: 1em;
          &:hover, &:link, &:visited, &:active {
             text-decoration: none;
             color: $text-color-light;
          }
       }
    }

   .separator {
      color: darken($text-color-light, 15);
   }
   time + #disqus_thread:before, time + .categories:before, #disqus_thread + .categories:before {
      @extend .separator;
   }
}

#markdown-toc:before {
   content: "Содержание";
   font-weight: bold;
}
ul#markdown-toc {
   list-style: none;
   float: right;
   @include shadow-box;
   background-color: white;
}

.blog-index #markdown-toc {
   display: none;
}

.footnotes {
   font-size: 13px;
   line-height: 16px;
   color: #666;
   border-top: 2px groove gray;
   padding-top: 1em;

   ol {
      padding-left: 2em;

      p {
         margin-bottom: 6px;
      }
   }
}

html {
   background: image-url('mocha-grunge.png');
}